<footer class="footer">
  <div class="container">
    <div class=" has-text-centered">
      <div class="columns is-centered is-half mt-20">
        <div class="columns is-centered is-half logo-footer">

              <%= image_tag('Airbnb_logo.png') %>


        </div>
      </div>
      <br>

        <!-- App Store button -->
<a href="https://www.kobinet.com.tr/" target="_blank" class="market-btn apple-btn" role="button">
  <span class="market-button-subtitle">Download on the</span>
  <span class="market-button-title">App Store</span>
</a>

<!-- Google Play button -->
<a href="https://www.kobinet.com.tr/" target="_blank" class="market-btn google-btn" role="button">
  <span class="market-button-subtitle">Download on the</span>
  <span class="market-button-title">Google Play</span>
</a>

    </div>
  </div>
</footer>
