<nav class="navbar navbar is-fixed-top" id="navbar" role="navigation" aria-label="main navigation ">
  <div class="navbar-brand container">
    <a class="navbar-item" href="https://bulma.io">
      <%= image_tag('Airbnb_logo.png') %>
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
    <div class="navbar-end">
      <div class="navbar-item">
        <button class="button is-danger">Sign in</button>
      </div>
    </div>
  </div>
</nav>
