<%= render 'header' %>

<section class="section is-large sec" id="section">
  <div class="columns  is-centered" style="margin-top: 1%;">
    <div class="inline-form columns">
      <div class="field columncolumn is-one-quarter">
        <p class="control has-icons-left">
          <span class="select">
            <select>
              <option selected="selected">Country</option>
              <option>Select dropdown</option>
              <option>With options</option>
            </select>
          </span>
          <span class="icon is-small is-left">
            <i class="fas fa-globe"></i>
          </span>
        </p>
      </div>
      <div class="field columncolumn is-one-quarter">
        <p class="control has-icons-left">
          <span class="select">
            <select>
              <option selected="selected">Country</option>
              <option>Select dropdown</option>
              <option>With options</option>
            </select>
          </span>
          <span class="icon is-small is-left">
            <i class="fas fa-globe"></i>
          </span>
        </p>
      </div>
      <div class="field columncolumn is-one-quarter">
        <p class="control has-icons-left">
          <span class="select">
            <select>
              <option selected="selected">Country</option>
              <option>Select dropdown</option>
              <option>With options</option>
            </select>
          </span>
          <span class="icon is-small is-left">
            <i class="fas fa-globe"></i>
          </span>
        </p>
      </div>
      <div class="field columncolumn is-one-quarter">
        <p class="control has-icons-left">
          <span class="select">
            <select>
              <option selected="selected">Country</option>
              <option>Select dropdown</option>
              <option>With options</option>
            </select>
          </span>
          <span class="icon is-small is-left">
            <i class="fas fa-globe"></i>
          </span>
        </p>
      </div>
      <button class="button is-danger ml-1 search-btn">S</button>
    </div>
  </div>
  <div class="section-first">
    <div class="columns is-centered">
      <div class="column is-half mt-20">
        <div class="content ">
          <img class="img-main" src="https://a0.muscache.com/pictures/Storefronts/NoHo_Header_TitleLogo/original/3e8e526b-a760-47b0-89c2-e27049f2ede2.svg" alt="">
          <h2 class="subtitle">
            Winter Release
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section is-medium sec">
  <div class="container">
    <h2 class="subtitle" style="color:white">
      A simple container to divide your page into
      ,like the one you're currently reading.
    </h2>
    <button class="button is-light" >Learn more</button>
  </div>

</section>
<section class="section is-medium sec"></section>
<section class="section is-medium sec"></section>
<section class="section is-large " id="section">
  <div class="section-second  is-centered ">
    <div class="second-image">
      <div class="column is-half mt-20">
        <div class="content ">
          <img class="img-main" src="https://a0.muscache.com/pictures/Storefronts/NoHo_Header_TitleLogo/original/3e8e526b-a760-47b0-89c2-e27049f2ede2.svg" alt="">
          <h2 class="subtitle">
            Winter Release
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
