<!-- <h1>New Apprtment</h1>
  <%= render 'form', apprtment: @apprtment %>
  <%= link_to 'Back', apprtments_path %> -->

<section class="block">
  <div class="left-p">
    <div class="container">
      <div class="columns is-mobile is-centered is-vcentered ">
  <div class="column is-half">
    <p class="bd-notification is-primary">
      <code class="html">is-half</code><br>
    </p>
  </div>
</div>
    </div>
  </div>
  <div class="right-p">Right</div>

</section>
